InvocationErrors/StepFunctionErrors/TransactionStateMachine.json
{
    "Comment": "A simple AWS Step Functions state machine that automates a call center support session.",
    "StartAt": "ProcessTransaction",
    "States": {
      "ProcessTransaction": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.TransactionType",
            "StringEquals": "PURCHASE",
            "Next": "ProcessPurchase"
          },
          {
            "Variable": "$.TransactionType",
            "StringEquals": "REFUND",
            "Next": "ProcessRefund"
          }
        ]
      },
      "ProcessRefund": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-west-2:056648651098:function:ProcessRefund:$LATEST",
        "End": true
      },
      "ProcessPurchase": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-west-2:056648651098:function:ProcessPurchase:$LATEST",
        "End": true
      }
    }
  }